.div-card {
    @include sizes(250px, 400px);
	background-color: $background-color_4;
	border-radius: 5px;
	color: $color_1;
	margin: 10px;
	border: $background-color_3 solid 3px;
}

.img-card {
    @include sizes(100%, 200px);
	box-shadow: 0px 1px 5px $background-color_3;
	object-fit: cover;
}

.card-content {
	height: 185px;
	margin: 5px;
	h2 {
		font-size: 30px;
		margin-bottom: 10px;
	}
}


