@import 'variables';
@import 'footer';
@import 'banner';

@import 'tab_contacto';
@import 'tab_nosotros';
@import 'tab_cotizar';
@import 'tab_introduccion';

@import 'componente_card';

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: $fuente-textos;
	font-size: 20px;
}
.row{
	padding: 0px;
}
p {
	font-family: $fuente-textos;
	font-size: 20px;
}
main {
	padding-top: 25px;
	min-height: 900px;
	background-color: $background-color_1;
}

.titulo-div {
	font-size: 50px;
	color: $background-color_3;
}

.titulo-div2 {
	margin-top: 15px;
}

.body-tab {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 25px;
}

nav {
	box-shadow: 0 -3px 10px rgb(46, 40, 90);
}

.nav-item {
	font-size: 25px;
}
