.body-tab-contacto{
	display: flex;
	justify-content: center;
	width: 80%;
	iframe{
		width: 800px;
		height: 600px;
		border: 4px solid $background-color-4;
		border-radius: 5px;
		box-shadow: 2px 2px 7px $background-color-3;
	}
}

.contacto-ubicacion {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 25px;
	iframe {
		margin: 0px 10px 10px 10px;
	}
}

.contacto-redes {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 95px;
}

.contactos-redes-red {
	margin-top: 10px;
	a {
		text-decoration: none;
		margin-left: 5px;
	}
}

@media only screen and (max-width: 1400px) {

	.body-tab-contacto{
		display: flex;
		flex-direction: column;
		width: 100%;
	}	
	.contacto-ubicacion {
		display: flex;
		flex-direction: column;
		width: 100%;
		h3{
			width: 100%;
		}
		iframe {
			width: 90%;
			height: 90%;
		}
	}
	.contacto-redes {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: 30px;
		margin-top: 5px;
	}
	.contactos-redes-red {
		text-align: start;
		a {
			text-decoration: none;
			margin-left: 5px;
		}
	}
}