* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
}

/* NAVBAR */
nav {
  display: flex;
  background-color: darkslateblue;
  padding: 10px;
  padding-left: 20px;
  justify-content: space-between;
  box-shadow: 0 5px 5px rgb(46, 40, 90);
}
#logo_navbar {
  width: 75px;
}
.enlace-navbar {
  color: white;
  /* elimina la decoración */
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  /*remueve el punto de lista ul li*/
  list-style-type: none;
}

/*FIN NAVBAR*/
/* MAIN */
main {
  /* Borrar despues */
  height: 1500px;
}
/*FIN MAIN*/
/* FOOTER */
footer {
  display: flex;
  background-color: darkslateblue;
  color: white;
  justify-content: center;
}
footer section {
  display: flex;
  align-items: center;
  flex-direction: column;
  //border-left: solid 5px rgb(202, 154, 227);
  padding-left: 5px;
  padding-top: 5px;
  width: 33vw;
  padding-bottom: 15px;
}

.titulo-footer{
    margin-top: 5px;
    /*Cambia la fuente del H3*/
    font-size: 35px;
    text-decoration: underline;
    padding-bottom: 25px;
}

footer ul {
  list-style-type: none;
}

#link-footer {
  color: white;
  text-decoration: none;
}

/* CARD*/
#div-card {
  width: 250px;
  height: 400px;
  background-color: darkslateblue;
  color: white;
  margin: 5px;
  box-shadow: 5px 5px 10px black;
  
}

#img-card {
  width: 100%;
  height: 200px;
  border: solid 2px rgb(32, 28, 63);
  /* corta la imagen para que calce */
  object-fit: cover;
}

/*INICIO DE DECORACION POR BODY*/

/*Decoración para todos los titulos de la página*/
.titulo-div{
    font-size: 50px;
    margin: 10px;
    text-decoration: underline;
}

/* Nosotros */
#foto-nosotros {
    width: 35%;
  }


/*DECORACION INDEX*/
