/*Padre Grid contenedor de item-grid's*/
.item{
    border: 1px solid red;
    margin: 5px;
    background-color: lime;
}

.contenedor{
    border: 4px solid;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: repeat(4, 25%); 
}
