footer {
  width: 100%;
  box-shadow: 0 -3px 10px rgb(46, 40, 90);
  background-color: darkslateblue;
}
footer h3 {
  font-size: 30px;
  padding-bottom: 25px;
}
footer ul {
  list-style-type: none;
}
footer li {
  margin-bottom: 10px;
}

.footer-desktop {
  display: flex;
  color: white;
  justify-content: center;
}

.footer-desktop-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33vw;
  padding: 15px 0 15px 5px;
}

.link-footer {
  color: white;
  text-decoration: none;
}

.footer-mobile {
  display: none;
}

.carousel-item {
  width: 100%;
  margin: auto;
}

@media only screen and (max-width: 1400px) {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: inline;
    width: 100%;
    padding-bottom: 15px;
    color: white;
  }
  footer {
    padding: 25px;
    height: 210px;
  }
  footer p {
    padding: 0 100px 0 100px;
  }
}
.banner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-image: url(../images/banner.jpg);
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  text-align: center;
}
.banner h1 {
  display: flex;
  color: white;
  font-size: 100px;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: 0 0 10px #ad1ec6, 0 0 10px #0000ff;
}

@media only screen and (max-width: 1400px) {
  .banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-image: url(../images/banner.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-position: center;
    text-align: center;
    align-items: center;
  }
  .banner h1 {
    color: white;
    font-size: 14vw;
    font-family: "Bebas Neue", sans-serif;
    text-shadow: 0 0 10px #ad1ec6, 0 0 10px #0000ff;
  }
}
.body-tab-contacto {
  display: flex;
  justify-content: center;
  width: 80%;
}
.body-tab-contacto iframe {
  width: 800px;
  height: 600px;
  border: 4px solid rgb(98, 83, 196);
  border-radius: 5px;
  box-shadow: 2px 2px 7px darkslateblue;
}

.contacto-ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}
.contacto-ubicacion iframe {
  margin: 0px 10px 10px 10px;
}

.contacto-redes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 95px;
}

.contactos-redes-red {
  margin-top: 10px;
}
.contactos-redes-red a {
  text-decoration: none;
  margin-left: 5px;
}

@media only screen and (max-width: 1400px) {
  .body-tab-contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contacto-ubicacion {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contacto-ubicacion h3 {
    width: 100%;
  }
  .contacto-ubicacion iframe {
    width: 90%;
    height: 90%;
  }
  .contacto-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    margin-top: 5px;
  }
  .contactos-redes-red {
    text-align: start;
  }
  .contactos-redes-red a {
    text-decoration: none;
    margin-left: 5px;
  }
}
.div-nosotros {
  display: flex;
  margin-top: 25px;
  flex-direction: row;
  justify-content: center;
}
.div-nosotros p {
  width: 800px;
  margin: 25px;
}

.div-nosotros-2 {
  display: flex;
  margin-top: 25px;
  flex-direction: row-reverse;
  justify-content: center;
}
.div-nosotros-2 p {
  width: 800px;
  margin: 25px;
  text-align: end;
}

#foto-nosotros {
  width: 35%;
  border: 4px solid rgb(98, 83, 196);
  border-radius: 5px;
  box-shadow: 2px 2px 7px darkslateblue;
}

@media only screen and (max-width: 1400px) {
  .div-nosotros {
    display: flex;
    margin-top: 15px;
    margin: 15px;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .div-nosotros p {
    width: 90%;
    margin: 25px;
    text-align: start;
  }
  .div-nosotros-2 {
    display: flex;
    margin-top: 25px;
    margin: 15px;
    flex-direction: column;
    align-items: center;
  }
  .div-nosotros-2 p {
    width: 90%;
    margin: 25px;
    text-align: start;
  }
  #foto-nosotros {
    width: 85%;
  }
}
.label-form {
  margin: 0px 15px;
  font-size: 25px;
}

.detalle-idea {
  margin-bottom: 15px;
}

.archivo-adjunto {
  margin-bottom: 15px;
}

.email {
  margin-bottom: 15px;
}

.subtitulo-cotizar {
  max-width: 900px;
  margin: 0 15px 0 15px;
}

.formulario {
  margin-top: 15px;
  border: 2px solid darkslateblue;
  background-color: rgb(98, 83, 196);
  color: rgb(250, 245, 239);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px black;
}

@media only screen and (max-width: 1400px) {
  .body-tab-cotizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
  .email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .email input {
    width: 85%;
  }
  .detalle-idea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .archivo-adjunto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  .boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
  }
}
.body-tab-index {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.introduccion {
  margin: 0 50px 0 50px;
}

.emojimano {
  display: inline;
}

@media only screen and (max-width: 1400px) {
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: inline;
    width: 100%;
    padding-bottom: 15px;
    color: white;
  }
  footer {
    padding: 25px;
    height: 210px;
  }
  footer p {
    padding: 0 100px 0 100px;
  }
  .introduccion {
    margin: 0 25px 0 25px;
    height: 150px;
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 500px) {
  .introduccion {
    margin: 0 25px 0 25px;
    height: 250px;
    overflow-y: scroll;
  }
}
.div-card {
  width: 250px;
  height: 400px;
  background-color: rgb(98, 83, 196);
  border-radius: 5px;
  color: white;
  margin: 10px;
  border: darkslateblue solid 3px;
}

.img-card {
  width: 100%;
  height: 200px;
  box-shadow: 0px 1px 5px darkslateblue;
  object-fit: cover;
}

.card-content {
  height: 185px;
  margin: 5px;
}
.card-content h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
}

.row {
  padding: 0px;
}

p {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
}

main {
  padding-top: 25px;
  min-height: 900px;
  background-color: rgb(250, 245, 239);
}

.titulo-div {
  font-size: 50px;
  color: darkslateblue;
}

.titulo-div2 {
  margin-top: 15px;
}

.body-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

nav {
  box-shadow: 0 -3px 10px rgb(46, 40, 90);
}

.nav-item {
  font-size: 25px;
}

/*# sourceMappingURL=index.css.map */
